version: '2'


services:
    web:
      restart: always
      build:
        context: .
        dockerfile: Dockerfile
      command: >
        bash -c "python3 manage.py makemigrations
        && python3 manage.py migrate
        && python3 manage.py runserver 0.0.0.0:8000"
      ports:
       - '8000:8000'
      depends_on:
       - db
      volumes:
       - .:/code


    db:
      image: 'postgres:latest'
      expose:
        - "5432"
      environment:
        POSTGRES_PASSWORD: qwerty
        POSTGRES_DB: postgres
      volumes:
       - ./.postgres-data:/var/lib/postg resql/data